<header class="site-header">
  <div class="header-masthead">
      <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        <a class="site-title" href="{{ "/" | relative_url }}">
            <span class="mbhs">McKinney Boyd High School</span>
            <span class="nhs">National Honor Society</span>
        </a>
      </div>
  </div>
  <nav class="header-navigation">
      <div class="wrapper">
          <a href="/gallery">Gallery</a>
          <a href="/about">About</a>
          <a href="/members">Members</a>
          <a href="/projects">Projects</a>
      </div>
  </nav>
</header>
