footer.site-footer {
    background-color: $light-grey;
    color: $white;

    .wrapper {
        padding: 5px;

        @media screen and (max-width: 500px) {
            margin: 0px 10px;
        }

        @media screen and (min-width: 1001px) {
            margin: 0px 100px;
        }



        .footer-heading {
            a:hover {
                text-decoration: none;
            }

            .mbhs {
                color: $dark-blue;
            }

            .nhs {
                color: $light-blue;
            }
        }
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}
