header.site-header {
    color: $white;

    .header-masthead {
        padding-top: 20px;
        background-color: $dark-blue;
        .wrapper {
            a.site-title {
                color: $white;
                text-transform: uppercase;
                font-size: $f1;

                .mbhs {
                }

                .nhs {
                    font-weight: bold;
                }

            }
            text-align: center;
            max-width: 900px;
            margin: 0 auto;
        }
    }

    nav.header-navigation {
        padding: 0px;
        background-color: $blue;
        .wrapper {
            display: flex;
            margin: 0px;
            flex: 1;
            list-style-type: none;
            width: 100%;

            a {
                margin: 5px;
                padding: 10px;
                float: left;
                text-align: center;
                color: $white;
            }

            max-width: 600px;
            margin: 0 auto;
        }
    }
}
