.pillar {
    border: solid red;
    background-color: lightblue;
    color: blue;
    padding: 50px 25px;
    margin-bottom: 20px;
}

.info-slide {
    padding: 10px 0;
    background-color: #EEFFEE;
    margin-top: 1000px;
    height: 700px;
    width: 600px;

    .header {
        font-size: 50px;
        margin-left: 20px;
        background: grey;
        color: white;
        width: 500px;
    }
}
