.pillar {
    border: solid red;
    background-color: lightblue;
    color: blue;
    padding: 50px 25px;
    margin-bottom: 20px;
}

.main-carousel{
    padding-top: 20px;
    padding-left: 20px;
    height: 400px;
    margin-bottom: 700px;
}

.info-slide {
    padding: 10px;
    background-color: #EEFFEE;
    margin-top: 100px;
    height: 700px;
    width: 600px;
    position: relative;
    border-radius: 5px;

    .header {
        font-size: 50px;
        font-weight: 900;
        margin: auto 0;
        background: grey;
        color: white;
        width: 500px;
    }


    a.button {
        margin: 20px 10px;
        padding: 5px;
        text-decoration: none;
    }

    .take-action {
        background-color: #A0A0D0;
    }

    .learn-more {
        background-color: #A0D0A0;
    }
}
