$text-color:    #555;

$card-color:    #DFD;

$light-green:   #ADA;
$light-blue:    #AAD;

.pillar {
    border: solid red;
    background-color: $light-blue;
    color: blue;
    padding: 50px 25px;
    margin-bottom: 20px;
}

.main-carousel{
    padding-top: 20px;
    padding-left: 20px;
    height: 400px;
    margin-bottom: 700px;
}

.info-slide {
    padding: 10px;
    background-color: $light-grey;
    margin-top: 100px;
    height: 700px;
    width: 600px;
    position: relative;
    border-radius: 5px;

    .header {
        font-size: 50px;
        font-weight: 900;
        color: $dark-grey;
        width: 500px;
        margin-bottom: 10px;
    }


}

.backgroundpics{
  min-height: 100%;
  max-width: 100%;
  background-size: 100% 100%;
}

<<<<<<< Updated upstream
.carousel-test {
    div.item  {
=======
a.button {
    margin: 20px 10px;
    padding: 5px;
    text-decoration: none;
    color: white;

    &.primary {
        background-color: $dark-blue;
    }

    &.secondary {
>>>>>>> Stashed changes
        background-color: $light-blue;
    }
}
