article.post {

    @media screen and (max-width: 500px) {
        margin: 0px 10px;
    }

    @media screen and (min-width: 1001px) {
        margin: 0px 500px;
    }

    header.post-header {
        h1.post-title {
            font-size: $f1;
            margin-bottom: 0px;
        }

        h2.post-subtitle {
            margin: 0px;
            font-size: $f2;
            font-weight: normal;
        }

        text-align: center;
    }


    .post-content {
        margin: k0px 0px;
    }
}

